* {
  align-self: center;
  justify-self: center;
}
img {
  cursor: pointer;
}
#wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}
#up {
  grid-column: 2;
  grid-row: 1;
}
#left {
  grid-column: 1;
  grid-row: 2;
}
#center {
  grid-column: 2;
  grid-row: 2;
}
#right {
  grid-column: 3;
  grid-row: 2;
}
#down {
  grid-column: 2;
  grid-row: 3;
}

