body,
svg,
#graph-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  margin: 0px;
  /* background-color: black; */
}

#mapLabels {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  color: white;
  font-family: sans-serif;
}

#controlsPane {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1;
  color: white;
  font-family: sans-serif;
}

#autoExploreWarning {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 1;
  color: red;
  font-family: sans-serif;
}

.round {
  background-color: white;
  padding: 3px;
  border-radius: 100%;
  width: 5%;
  height: 5%;
}

#logo {
  width: 100%;
}

#backButton {
  width: 20px;
  height: 20px;
}

#landingLabelsContainer {
  overflow: auto;
  width: 100%;
  height: 100%;
}

#landingLabels {
  margin-top: 15%;
}

#siteSearch {
  width: 75%;
}

#tagline {
  font-size: 20px
}

input {
  text-transform: lowercase;
}

#infoContainer {
  position: absolute;
  bottom: 0px;
  left: 20%;
  right: 20%;
}

#infoPopup {
  text-align: justify;
  position: relative;
  float: left;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  /* border: 3px solid black; */
  border-radius: 15px 15px 0px 0px;
  padding: 5px;
  overflow: auto;
  font-size: 1.75rem;
}

#helper {
  color: red;
  padding-top: 10px;
  font-family: "Helvetica";
  font-size: 1.5rem;
}
